/*this css is only for the home/landing page*/
body {
    font-family: monospace;
    overflow: hidden;
}
.heading {
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
}
.heading h1 {
    color: white;
    font-size: 70px;
    z-index: 1;
}
#particles-js {
  position: relative; /* Use fixed position to cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgb(0, 0, 0);
}

.navbar{
  position:fixed;
  font-size: 17px;
  font-family: monospace;
  background-color: transparent;
  overflow: hidden;
  padding: 14px 16px;
  float: left;
  z-index: 2;
}

.navbar a {
  color: white;
  text-align: center;
  text-decoration: none;
}
.navbar a:hover{
  background-color: white;
  color: black;

}

.navbar a.active {
  background-color: white;
  color: black;
}

.heading .icons a{
  color: white;
  size: 20px;
  padding: 10px;
  background-color: transparent;
  transition: transform 0.3s ease;

}
.heading .icons a:hover i{
  transform: scale(2.05);
}
